.background {
    background: -moz-linear-gradient(rgba(0, 159, 255, 1),
    rgba(236, 47, 75, 1));
    background: -webkit-linear-gradient(rgba(0, 159, 255, 1),
    rgba(236, 47, 75, 1));
}

.container {
    max-width: 100%;
    width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
  min-height: 100px;
  font-size: 30px;
  line-height: 100px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding-left: 20px;
  margin: 0;
}