.background {
    background-color: lightblue;
}

.container {
    max-width: 100%;
    width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
}

.productsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}




